:root{
    --base-clr: #e3e3e3;
    --line-clr: #065e20;
    --hover-clr:rgb(0, 0, 0);
    --text-clr:rgb(0, 0, 0);
    --accent-clr:#5e63ff;
    --secondary-text-clr: grey;
  
}
*{
    margin: 0;
    padding: 0;
} 

html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 24px;
}
body{
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--base-clr);
    color:var(--text-clr);
    display: grid;
    grid-template-columns: auto 1fr;
}

#sidebar{
    box-sizing: border-box;
    height: 100dvh;
    width: 250px;
    padding: 5px 1em;
    background-color: var(--base-clr);
    box-shadow: 2px 2px  rgb(142, 210, 171);
    border-radius: 10px 0px 2px rgb(3, 63, 8)
}


#sidebar li{
    list-style: none;

}
#sidebar > ul > li:first-child{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    align-items: center;
    
}
#sidebar .name{
    font-weight: 600;
    display:flex;
    align-items: center;
    gap: 0.2em;
}

#sidebar ul li.active a{
    color: var(--accent-clr)
}
img{
    fill: var(--accent-clr)
}

#sidebar a,
#sidebar .name h1{
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color:var(--text-clr);
    display: flex;
    align-items: center;
    gap: 0.1em;
       
}

main{
    margin: 10px;
    padding:0px;
    
    
}
.main-status{
    display: flex;
    font-size: 10px;
    gap: 15px;
    width: 100%;
    align-items: flex-start;
    margin-top:30px;
}
.total-fruits, 
.fresh, 
.needs-attention, 
.spoiled{
    
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    box-shadow: 2px 2px 10px rgb(166, 196, 179);
    
    
    width: 200px;
    height: 70px;

    display:flex;
    justify-content: space-between;
    align-items: center;
   
}
.status-wrapper{
    display: flex;
    align-items: center;
    gap:2px;
    
}
.main-img{
    width: 100px;
    height:auto;
}
.btn-down{
    margin-left: 8px;
    background: none;
    border-style: none;
    cursor: pointer;
    padding: 2px 4px;
    display:flex;
    align-items: center;
}
.fruit-icon{
    width: 15px;
    margin-top: -50px;
}
.status{
    white-space: nowrap;
    font-weight: 600;
    font-size: 15px;
    margin-top: -50px;
}
.container{
    display:flex;
    margin-top: 20px;
    margin-left: 15px;
    gap:10px;
}
.onlive{
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    box-shadow: 2px 2px 10px rgb(166, 196, 179);
    width: 450px;
    height: 150px;
}

.freshness{
     border-radius: 20px;
    padding: 10px 15px 10px 15px;
    box-shadow: 2px 2px 10px rgb(166, 196, 179);
    justify-content: center;
    width: 450px;
    height: 150px;
}

.overview{
    display:flex;
    flex-direction: column;
    padding-left: 300px;
    padding-top: 15px;
    font-size: 20px;
}







