*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: url(IMAGE/login-background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    
}

.wrapper {
    width: 95%;           
    max-width: 420px;     
    opacity: 0.7;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 30px 40px;
    background: rgb(201, 238, 201);
}


@media (max-width: 400px) {
    .wrapper {
        padding: 30px 20px; /
    }
    
    .remember-forgot {
        font-size: 13px;    
    }
}

.wrapper h1 {
    font-size: 30px;
    text-align: center;
}

.wrapper h2{
    font-size: 30px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 40px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: rgb(0, 0, 0);
}

.input-box img{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: rgb(0, 0, 0);
    margin-right: 3px;

}


.wrapper .btn {
    
    width: 200px;
    height: 45px;
    background: rgb(0, 0, 0);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin: 10px;
}

.create-container{
    display:flex;
}








